version 5.247.4

source https://api.nuget.org/v3/index.json

storage: packages
framework: netcoreapp3.1, netstandard2.0, netstandard2.1

nuget FSharp.Core
nuget Argu
nuget LibGit2Sharp
nuget Veldrid
nuget Veldrid.ImGui
nuget Veldrid.SPIRV
nuget Veldrid.StartupUtilities

group Test
  source https://api.nuget.org/v3/index.json

  framework: netcoreapp3.1
  storage: packages

  nuget Microsoft.NET.Test.SDK
  nuget xunit
  nuget xunit.runner.visualstudio

group Docs
  source https://api.nuget.org/v3/index.json

  framework: netstandard2.0
  storage: packages

  nuget FSharp.Compiler.Service ~> 35.0
  nuget FSharp.Formatting ~> 4.1
  nuget Newtonsoft.Json

// [ FAKE GROUP ]
group Build
  source https://api.nuget.org/v3/index.json

  framework: netstandard2.0
  storage: none

  nuget Fake.Core.Target
  nuget Fake.Core.Process
  nuget Fake.DotNet.Cli
  nuget Fake.Core.ReleaseNotes
  nuget Fake.DotNet.AssemblyInfoFile
  nuget Fake.DotNet.Paket
  nuget Fake.Tools.Git
  nuget Fake.Core.Environment
  nuget Fake.Core.UserInput
  nuget Fake.IO.FileSystem
  nuget Fake.DotNet.MsBuild
  nuget Fake.Api.GitHub
  nuget Fake.DotNet.Testing.XUnit2